@import url("../../css/default.css");

/* BODY */
body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--background-color-header);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100vw;
    position: fixed;

    /* NAV */
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;

        #imgLogo img {
        width: 300px;
        margin-left: 20px;
        }

        #btnHeader a {
        text-decoration: none;
        text-transform: capitalize;
        margin-right: 20px;
        color: white;
        position: relative;
        }

        #btnHeader a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: 0.3s ease-in-out;
        }

        #btnHeader a:hover::after {
            width: 100%;
        }
    }

    .modalLogin, .modalContac {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    }

    .modalContent{
    width: 500px;
    height: 500px;
    background-color: var(--background-color-modal);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    }

    .modalContentForm{
    width: 500px;
    height: 620px;
    background-color: var(--background-color-modal);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    }

    .modalContent>#iconCancel, .modalContentForm>#iconCancelForm {
    cursor: pointer;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    color: white;
    font-size: 3rem;
    }

    .modalContent>iframe, .modalContentForm>iframe {
    flex: 1;
    border: none;
    display: block;
    }

    .btnForm {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 20px;
    }
}

/* MAIN */
main{
    #txtGestao {
    text-align: center;
    background-color: var(--background-color-section);
    height: 300px;
    padding: 60px;

        h1{
            margin: 30px auto;
            color: var(--color-title);
            font-weight: bold;
        }
        p{
            text-align: center;
            width: 650px;
            margin: 0 auto;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 1.1rem;
        }
        button {
            padding: 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-transform: capitalize;
            margin-right: 20px;
            margin-top: 10px;
            background-color: #666666;
            color: white;
        }
    }
    /* SEÇÃO TXT CONTROLE */
    #txtControle {
        text-align: center;
        width: 100vw;
        height: 460px;
        padding: 60px;

        h2 {
            font-weight: bold;
            margin-bottom: 20px;
            color: var(--color-title);
        }
        #container {
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                width: 900px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                margin-bottom: 50px;
                font-size: 1.1rem;
            }
            img{
                width: 500px;
                border: 2px solid #001E27;
                border-radius: 10px;
            }
        }
    }
    /* SEÇÃO TXT RELACIONAMENTO */
    #txtRelacionamento {
        text-align: center;
        width: 100vw;
        height: 550px;
        padding: 10px;
        background-color: var(--background-color-section);

        h2 {
            color: var(--color-title);
            margin-bottom: 20px;
        }

        #container{ 
            p {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                font-size: 1.1rem;
                width: 600px;
                margin: 10px auto;
            }    
            img {
                    width: 500px;
                    border: 2px solid #001E27;
                    border-radius: 10px;
            }
        }
        button {
                padding: 8px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-transform: capitalize;
                margin-right: 20px;
                margin-top: 10px;
                background-color: #666666;
                color: white;
            }
        
    }
    /* SEÇÃO TXT FINANCEIRO */
    #txtFinanceiro {
        text-align: center;
        width: 100vw;
        height: 350px;
        padding: 60px;

        h2 {
            color: var(--color-title);
        }
        #container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            div {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 200px;
                height: 200px;
                margin-top: 10px;
                border-radius: 10px;

                    i {
                        margin-top: 50px;
                        color: green;
                        font-size: 3rem;
                    }
                    p {
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        text-align: center;
                    }
            }
        }
    }
    /* SEÇÃO TXT EFICIÊNCIA */
    #txtEficiencia {
        text-align: center;
        width: 100vw;
        height: 510px;
        padding: 10px;
        background-color: var(--background-color-section);

        h2 {
            color: var(--color-title);
            
        }
        #container {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 1.1rem;
            gap: 10px;

                p {
                    width: 650px;
                    margin: 10px auto;
                }
                img {
                    width: 500px;
                    border: 2px solid #001E27;
                    border-radius: 10px;
                }
        }
    }
    /* SEÇÃO TXT VALORES */
    #txtValores {
        text-align: center;
        width: 100vw;
        height: 350px;
        padding: 10px;

        #container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            width: 550px;
            margin: 20px auto;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                p:nth-child(1) {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                p:nth-child(2) {
                    color: var(--color-title);
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                span label {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 2px;
                    margin-top: 5px;
                }
                span label i {
                    color: green;
                }
                button {
                    padding: 8px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-transform: capitalize;
                    margin: 10px auto;
                    background-color: #666666;
                    color: white;
                }
        }
    }
    /* SEÇÃO TXT PRONTO */
    #txtPronto {
        text-align: center;
        width: 100vw;
        height: 300px;
        padding: 60px;
        background-color: var(--background-color-section2);
        color: white;

        #container {
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            margin-top: 10px;

                span label {
                    display: flex;
                    align-items: center;
                    justify-content: left;

                        i {
                            color: white;
                        }
                }
                a:nth-child(1) {
                    text-decoration: none;
                    color: white;
                }
        }
    }
}

/* FOOTER */
footer {
    text-align: center;
    width: 100vw;
    height: 300px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-footer);

    #logoFooter{
        img {
            width: 300px;
            margin-left: 20px;
        }
    }
    #redesSociais {
        width: 150px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* RESPONSIVIDADE */
@media (max-width:768px) {
    /* HEADER */
    header{
        nav{
            #imgLogo{
                img{
                    width: 150px !important;
                }
            }
            #btnHeader{
                button {
                    font-size: .5rem !important;
                    width: 100px !important;
                    height: 20px !important;
                    padding: 0 !important;
                }
                a {
                    font-size: 1rem !important;
                }
            }
        }
    }

    /* TXT GESTÃO */
    #txtGestao{
        h1 {
            font-size: .8rem !important;
        }
        p {
            font-size: .8rem !important;
            width: 270px !important;
        }
    }

    /* TXT CONTROLE */
    #txtControle {
        height: 500px !important;

        h2 {
            font-size: .8rem !important;
        }
        #container {
            flex-direction: column !important;

                p {
                    font-size: .8rem !important;
                    width: 350px !important;
                    
                }
                img {
                    width: 300px !important;
                }           
        }
    }

    /* TXT RELACIONAMENTO */
    #txtRelacionamento{
        height: 400px !important;
        h2 {
            font-size: .8rem !important;
        }

        #container {
            flex-direction: column !important; 

                img {
                    width: 300px !important;
                    margin-bottom: 20px !important;
                }
                p {
                    font-size: .8rem !important;
                    width: 350px !important;
                }
        }
    }

    /* TXT FINANCEIRO */
    #txtFinanceiro {
        height: 480px !important;

        h2 {
            font-size: .8rem !important;
        }

        #container {
            flex-direction: column !important;

                div {
                    width: 150px !important;
                    height: 110px !important;
                    padding: 5px !important;

                        i {
                            font-size: 2rem !important;
                            margin-top: 5px !important;
                        }
                        p {
                            font-size: .8rem !important;
                        }
                }
        }
    }

    /* TXT EFICIÊNCIA */
    #txtEficiencia{
        height: 380px !important;
        h2 {
            font-size: 0.8rem !important;
        }

        #container {
            flex-direction: column !important;

                p {
                    font-size: .8rem !important;
                    width: 350px !important;
                }
                img {
                    width: 300px !important;
                    margin-bottom: 20px !important;
                }
        }
    }

    /* TXT VALORES */
    #txtValores{
        height: 300px !important;
        #container {
            width: 300px !important;
            p{
                font-size: .8rem !important;
            }
        }   
    }

    /* TXT PRONTO */
    #txtPronto{
        h2 {
            font-size: .8rem !important;
            width: 100% !important;
        }

        #container {
            font-size: .8rem !important;

                p:nth-child(1) {
                    margin-bottom: 10px !important;
                }
                #linkDemonstracao {
                    margin-top: 10px !important;
                }
        }
    }

    /* FOOTER */
    footer {
        flex-direction: column !important;

        #logoFooter{
            img {
                width: 200px !important;
            }
        }

        p {
            font-size: .8rem !important;
        }

        #redesSociais {
            width: 120px !important;
        }
    }
}