@import "../default.css";

body{
    background-image: url(../../img/img_background.svg);
}

#containerProfile{
    margin: 10% auto;
    border: 2px solid white;
    width: 600px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#containerProfile>#dataUser{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* FORMULARIO */
#containerProfile>form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#containerProfile>form>input{
    width: 250px;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    cursor: pointer;
    transition: .8s;
}

#containerProfile>form>input::placeholder{
    text-align: center;
    text-transform: capitalize;
}

#containerProfile>form>input:hover{
    outline: 2px solid #F57C00;
}

/* BOTÃO UPDATE */
#containerProfile>button{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: .8s;
    margin: 10px 0;
}

#containerProfile>button:hover{
    background-color: #F57C00;
    color: white;
}