@import url("../../css/default.css");

body {
    background-image: url(../../img/img_background.svg);
}

/* MENSAGEM */
/* Container da mensagem centralizada */
#mensagemPerfil {
    position: fixed;
    /* Fica fixo na tela */
    top: 50%;
    /* Central vertical */
    left: 50%;
    /* Central horizontal */
    transform: translate(-50%, -50%);
    /* Ajusta para ficar perfeitamente centralizado */
    padding: 20px 30px;
    background-color: #fff;
    /* Fundo branco */
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    font-weight: bold;
    text-align: center;
    min-width: 300px;
    z-index: 9999;
    /* Fica acima de outros elementos */
    display: none;
    /* Inicialmente escondido */
    transition: all 0.3s ease;
    /* Animação suave */
    color: #000;
    /* Texto preto */
    border: 2px solid transparent;
    /* Borda padrão transparente */
    word-wrap: break-word;
    /* Quebra de linha caso a mensagem seja longa */
}

/* Borda verde para sucesso */
#mensagemPerfil.sucesso {
    border-color: #28a745;
}

/* Borda vermelha para erro */
#mensagemPerfil.erro {
    border-color: #dc3545;
}

/* Mostrar a mensagem */
#mensagemPerfil.show {
    display: block;
}

#containerProfile {
    margin: 4% auto;
    border: 2px solid white;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#containerProfile>#dataUser {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #imgUser>img {
        width: 100px;
    }
}

/* FORMULARIO */
#containerProfile>form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#containerProfile>form>input {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    cursor: pointer;
    transition: .8s;
}

#containerProfile>form>input::placeholder {
    text-align: center;
    text-transform: capitalize;
}

#containerProfile>form>input:hover {
    outline: 2px solid #F57C00;
}

/* BOTÃO UPDATE */
#containerProfile>form>button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    text-transform: capitalize;
    cursor: pointer;
    transition: .8s;
    margin: 10px 0;
}

#containerProfile>form>button:hover {
    background-color: #F57C00;
    color: white;
}

/* RESPONVIDADE */
@media (max-width: 768px) {
    #containerProfile {
        margin: 50% auto;
        border: none;
        width: 200px;
        height: 200px;
    }
}