@import "../default.css";

/* BODY */
body {
    background-image: url(../../img/img_background.svg);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .title {
        color: var(--color-title2);
        margin-top: 10px;
        h1 {
            text-align: center;
            margin: 5px auto;
        }
    }

   
    #personalData, #address, #technicianDetails  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border: 2px solid white;
        border-radius: 10px;
        margin: 10px 0;
        width: 600px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: var(--background-color);

        h3 {
            color: white;
            margin-top: 20px;
        }

        input {
            width: 300px;
            height: 40px;
            border: none;
            border-radius: 5px;
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: 5px auto;
            text-align: center;
            cursor: pointer;
            transition: .8s;
        }

        input::placeholder {
            text-align: center;
            text-transform: capitalize;
        }

        input:hover{
            outline: 2px solid var(--background-color2);
        }
    }

#imgProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto;

        input {
            font-size: 1rem;
        }
        
    }

    #btn{
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            margin: 20px 0;
            width: 120px;
            height: 40px;
            border: none;
            border-radius: 5px;
            outline: none;
            text-transform: capitalize;
            padding: 2px;
             cursor: pointer;
            transition: .8s;
        }

        button:hover{
            background-color: var(--background-color2);
            color: var(--color-title2);
        }
    }
}