@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETE PÁGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* ROOT CORES */
:root {
    --background-color-header: #666666;
    --color-title: #001E27;
    --color-title2: #ffffff;
    --background-color-section: #F7F7F7;
    --background-color-section2: #666666;
    --background-color-footer: #ECEEEE;
    --background-color-modal: #666666;
    --background-color: #666666;
    --background-color2: #F57C00;
    --background-color3: #830808ef;
    --color-span: #F57C00;
    --border-color: #D32F2F;
    --border-color1: #2583FF;
    --border-color2: #0F9B4E;
    --border-color3: #666666;
}

/* BOTÃO EDITAR */
.btn-editar{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .8s;
    cursor: pointer;
}

/* BOTÃO EXCLUIR */
.btn-excluir {
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .8s;
    cursor: pointer;
    margin: 10PX auto;
}

.btn-excluir:hover {
    background-color: var(--background-color2);
    color: white;
}

/* MODAL */
#modalEditar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#modalEditar .modal-content {
    background: #666;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content>h2{
    color: white;
}

.modal-content>span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content>span>label {
    margin: 5px auto;
    color: white;
}

.modal-content>span>input {
    width: 300px;
    height: 40px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.modal-content>button {
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;
}