@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETE PÁGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* ROOT CORES */
:root {
    --background-color-header: #666666;
    --color-title: #001E27;
    --color-title2: #ffffff;
    --background-color-section: #F7F7F7;
    --background-color-section2: #666666;
    --background-color-footer: #ECEEEE;
    --background-color-modal: #666666;
}

/* BODY */
body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--background-color-header);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100vw;
    position: fixed;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
}

nav #imgLogo img {
    width: 300px;
    margin-left: 20px;
}

nav #btnHeader a {
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 20px;
    color: white;
    position: relative;
}

nav #btnHeader a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
}

nav #btnHeader a:hover::after {
    width: 100%;
}

header .modalLogin, header .modalContac {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

header .modalContent, header .modalContentForm {
    width: 500px;
    height: 500px;
    background-color: var(--background-color-modal);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

header .modalContent>#iconCancel, header .modalContentForm>#iconCancelForm {
    cursor: pointer;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    color: white;
    font-size: 3rem;
}

header .modalContent>iframe, header .modalContentForm>iframe {
    flex: 1;
    border: none;
    display: block;
}



.btnForm {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 20px;
}

/* MAIN */
#txtGestao {
    text-align: center;
    background-color: var(--background-color-section);
    height: 300px;
    padding: 60px;
}

#txtGestao h1 {
    margin: 30px auto;
    color: var(--color-title);
    font-weight: bold;
}

#txtGestao p {
    text-align: center;
    width: 650px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
}

#txtGestao button {
    margin-top: 10px;
    background-color: #666666;
    color: white;
}

/* SEÇÃO TXT CONTROLE */
#txtControle {
    text-align: center;
    width: 100vw;
    height: 460px;
    padding: 60px;
}

#txtControle h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-title);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#txtControle #container p {
    width: 900px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    font-size: 1.1rem;
}

#txtControle #container img {
    width: 500px;
    border: 2px solid #001E27;
    border-radius: 10px;
}

/* SEÇÃO TXT RELACIONAMENTO */
#txtRelacionamento {
    text-align: center;
    width: 100vw;
    height: 500px;
    padding: 60px;
    background-color: var(--background-color-section);
}

#txtRelacionamento h2 {
    color: var(--color-title);
    margin-bottom: 20px;
}

#txtRelacionamento #container p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    width: 600px;
}

#txtRelacionamento #container img {
    width: 500px;
    border: 2px solid #001E27;
    border-radius: 10px;
}

#txtRelacionamento button {
    margin-top: 10px;
    background-color: #666666;
    color: white;
}

/* SEÇÃO TXT FINANCEIRO */
#txtFinanceiro {
    text-align: center;
    width: 100vw;
    height: 350px;
    padding: 60px;
}

#txtFinanceiro h2 {
    color: var(--color-title);
}

#txtFinanceiro #container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#txtFinanceiro #container div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
}

#txtFinanceiro #container div i {
    margin-top: 50px;
    color: green;
    font-size: 3rem;
}

#txtFinanceiro #container div p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* SEÇÃO TXT EFICIÊNCIA */
#txtEficiencia {
    text-align: center;
    width: 100vw;
    height: 450px;
    padding: 60px;
    background-color: var(--background-color-section);
}

#txtEficiencia h2 {
    color: var(--color-title);
    margin-bottom: 20px;
}

#txtEficiencia #container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    gap: 10px;
}

#txtEficiencia #container>p {
    width: 650px;
}


#txtEficiencia #container img {
    width: 500px;
    border: 2px solid #001E27;
    border-radius: 10px;
}

/* SEÇÃO TXT VALORES */
#txtValores {
    text-align: center;
    width: 100vw;
    height: 350px;
    padding: 60px;
}

#txtValores #container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#txtValores #container>p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
}

#txtValores #container>p:nth-child(2) {
    color: var(--color-title);
    font-size: 1.2rem;
    font-weight: bold;
}

#txtValores #container span label {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2px;
    margin-top: 5px;
}

#txtValores #container span label i {
    color: green;
}

#container button {
    margin-top: 10px;
    background-color: #666666;
    color: white;
}

/* SEÇÃO TXT PRONTO */
#txtPronto {
    text-align: center;
    width: 100vw;
    height: 300px;
    padding: 60px;
    background-color: var(--background-color-section2);
    color: white;
}

#txtPronto #container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    margin-top: 10px;
}

#txtPronto #container span label {
    display: flex;
    align-items: center;
    justify-content: left;
}

#txtPronto #container span label i {
    color: white;
}

#txtPronto #container a:nth-child(1) {
    text-decoration: none;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    width: 100vw;
    height: 300px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-footer);
}

footer #logoFooter img {
    width: 300px;
    margin-left: 20px;
}

footer #redesSociais {
    width: 150px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width:768px) {

    /* HEADER */
    header>nav>#imgLogo>img {
        width: 150px;
    }

    header>nav>#btnHeader>button {
        font-size: .5rem;
        width: 100px;
        height: 20px;
        padding: 0;
    }

    header>nav>#btnHeader>a {
        font-size: 1rem;
    }

    /* TXT GESTÃO */
    #txtGestao h1 {
        font-size: .8rem;
    }

    #txtGestao p {
        font-size: .8rem;
        width: 300px;

    }

    /* TXT CONTROLE */
    #txtControle {
        height: 500px;
    }

    #txtControle h2 {
        font-size: .8rem;
    }

    #txtControle #container {
        flex-direction: column;
    }

    #txtControle #container>p {
        font-size: .8rem;
        width: 350px;
    }

    #txtControle #container>img {
        width: 300px;
    }

    /* TXT RELACIONAMENTO */
    #txtRelacionamento h2 {
        font-size: .8rem;
    }

    #txtRelacionamento #container {
        flex-direction: column;
    }

    #txtRelacionamento #container>img {
        width: 300px;
        margin-bottom: 20px;
    }

    #txtRelacionamento #container>p {
        font-size: .8rem;
        width: 350px;
    }

    /* TXT FINANCEIRO */
    #txtFinanceiro {
        height: 480px !important;
    }

    #txtFinanceiro h2 {
        font-size: .8rem;
    }

    #txtFinanceiro #container {
        flex-direction: column;
    }

    #txtFinanceiro #container>div {
        width: 150px;
        height: 110px;
        padding: 5px;
    }

    #txtFinanceiro #container>div>i {
        font-size: 2rem;
        margin-top: 5px;
    }

    #txtFinanceiro #container>div>p {
        font-size: .8rem;
    }

    /* TXT EFICIÊNCIA */
    #txtEficiencia h2 {
        font-size: 0.8rem;
    }

    #txtEficiencia #container {
        flex-direction: column;
    }

    #txtEficiencia #container>p {
        font-size: .8rem;
        width: 350px;
    }

    #txtEficiencia #container>img {
        width: 300px;
        margin-bottom: 20px;
    }

    /* TXT VALORES */
    #txtValores #container {
        width: 300px;
        font-size: .8rem;
    }

    #txtValores #container>span {
        font-size: .8rem;
    }

    /* TXT PRONTO */
    #txtPronto h2 {
        font-size: .8rem;
    }

    #txtPronto #container {
        font-size: .8rem;
    }

    #txtPronto #container>p:nth-child(1) {
        margin-bottom: 10px;
    }

    #txtPronto #container>#linkDemonstracao {
        margin-top: 10px;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }

    footer>#logoFooter>img {
        width: 200px;
    }

    footer>p {
        font-size: .8rem;
    }

    footer>#redesSociais {
        width: 120px;
    }
}