@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --background-color:#666666;
    --span-color:#198FC6;
}

/* BODY */
body{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* LOGIN */
.login{
    border: 3px solid white;
    border-radius: 10px;
    width: 410px;
    height: 400px;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
} 



.login .userAndPassword{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
} 

.login .userAndPassword input{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.login .userAndPassword input::placeholder{
    text-align: center;
    text-transform: uppercase;
} 

.login .btnLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
} 

.login .btnLogin  button{
    padding: 10px;
    text-transform: uppercase;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.8s;
} 

.login .btnLogin  button:hover{
    color: white;
    background-color: #f57c00;
}

.login p{
    color: white;
    font-size: 1rem;
    display: flex;
    gap: 5px;
}

.login p a{
    color: var(--span-color);
    font-weight: bold;
    text-decoration: none;
}   

