@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESETE PÃGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --background-color: #666666;
    --background-color2: #F57C00;
    --border-color: #D32F2F;
    --border-color1: #2583FF;
    --border-color2: #0F9B4E;
    --border-color3: #666666;
}

/* HEADER */
header {
    background-color: var(--background-color);
    padding: 10px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>img {
    margin-bottom: 10px;
}

nav>#iconCircle {
    color: white;
    cursor: pointer;
    font-size: 3rem;
    padding: 10px 20px;
}

/* MENU ASIDE */
#menu {
    display: none;
    align-items: center;
    justify-content: right;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

#menu>aside {
    border: 2px solid white;
    border-radius: 10px 10px 0 0;
    background-color: var(--background-color);
    width: 200px;
    height: 100vh;
    text-align: center;
    color: white;
    position: relative;
}

#menu>aside>label:nth-child(1)>p {
    margin-top: 2px;
}

#menu>aside>label:nth-child(1)>img {
    width: 70px;
    margin-top: 60px;
}

#menu>aside>label:nth-child(1)>i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    cursor: pointer;

}

#menu>aside>label:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    transition: .8s;
}

#menu>aside>label:nth-child(2):hover {
    background-color: var(--background-color2);
}

/* MAIN */
.container:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 10px;
    gap: 10px;
}

#equipment {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 110px;
    border-left: 6px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
}

#amount {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 110px;
    border-left: 6px solid var(--border-color1);
    border-radius: 10px;
    padding: 5px;
}

#cost {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 260px;
    height: 110px;
    border-left: 6px solid var(--border-color2);
    border-radius: 10px;
    padding: 5px;
}

#equipment>p,
#amount>p,
#cost>p {
    width: 250px;
    font-size: .8rem;
    margin: 20px auto;
    text-align: center;
}

#equipment>span,
#amount>span,
#cost>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#equipment>span>p,
#amount>span>p,
#cost>span>p {
    margin: 15px 15px;
}



#equipment>span>i {
    color: var(--border-color);
    font-size: 2rem;
}

#amount>span>i {
    color: var(--border-color1);
    font-size: 2rem;
}

#cost>span>i {
    color: var(--border-color2);
    font-size: 2rem;
}

/* ATALHOS */
.container:nth-child(2)>span,
.container:nth-child(3)>span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    gap: 60px;
}

.container:nth-child(2)>span>div,
.container:nth-child(3)>span>div {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-left: 6px solid var(--border-color3);
}

#equipamentRegistration,
#contacts,
#finance,
#customersRegistration,
#favorites,
#history {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 5px;
}

#equipamentRegistration>i,
#contacts>i,
#finance>i,
#customersRegistration>i,
#favorites>i,
#history>i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}


#equipamentRegistration>p,
#contacts>p,
#finance>p,
#customersRegistration>p,
#favorites>p,
#history>p {
    font-size: 0.8rem;
    text-align: center;
}

/* RESPONSIVIDADE */
@media (max-width: 765px) {
    #menu>aside {
        top: 0;
        position: fixed;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 10px !important;
    }

    .container:nth-child(2)>span,
    .container:nth-child(3)>span {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .container:nth-child(1)>#equipment,
    #amount,
    #cost {
        width: 240px;
        height: 140px;
    }

    .container:nth-child(1)>#equipment>p,
    #amount>p,
    #cost>p {
        width: 200px;
    }

    #cost>span {
        margin-top: 3px;
    }
}