@import "../default.css";

/* BODY */
body {
    background-image: url(../../img/img_background.svg);
}

/* HEADER */
header>.logo{
    margin:10px 10px;
}

/* FORMULÃRIO */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

form>.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--background-color);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 5px;
    color: white;
    padding: 5px;
    border: 2px solid white;
}

form>.container>p{
    font-size: .9rem;
    margin-top: 5px;
}

form>.container>input{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

form>.container>input::placeholder{
    text-align: center;
    text-transform: capitalize;
    font-size: .8rem;
}

form>.container>span{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

form>.container>button{
    width: 100px;
    padding: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}